<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HealthOnlineProject</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
  </welcome-file-list>
  <listener>
        <listener-class>userdata.CheckExpiredDtaeInBackgroundThread</listener-class>
</listener>
  <servlet>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.me</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PostQuestion</display-name>
    <servlet-name>PostQuestion</servlet-name>
    <servlet-class>servlet.PostQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostQuestion</servlet-name>
    <url-pattern>/Post.question</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MakeAppointment</display-name>
    <servlet-name>MakeAppointment</servlet-name>
    <servlet-class>servlet.MakeAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAppointment</servlet-name>
    <url-pattern>/my.appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Save patient self description data</display-name>
    <servlet-name>PatientSelfDescription</servlet-name>
    <servlet-class>servlet.PatientSelfDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSelfDescription</servlet-name>
    <url-pattern>/description.post</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>delete data of patient medical history</display-name>
    <servlet-name>DeleteMedicalHistory</servlet-name>
    <servlet-class>servlet.DeleteMedicalHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMedicalHistory</servlet-name>
    <url-pattern>/medical.delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateProfile</display-name>
    <servlet-name>Update_profile</servlet-name>
    <servlet-class>servlet.Updateprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_profile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>servlet.Viewprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewPendingReq</display-name>
    <servlet-name>ViewPendingReq</servlet-name>
    <servlet-class>servlet.ViewPendingReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingReq</servlet-name>
    <url-pattern>/ViewPendingReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewRegDetails</display-name>
    <servlet-name>View_Reg_Details</servlet-name>
    <servlet-class>servlet.ViewRegDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Reg_Details</servlet-name>
    <url-pattern>/ViewRegDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateSchedule</display-name>
    <servlet-name>Update_schedule</servlet-name>
    <servlet-class>servlet.UpdateSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_schedule</servlet-name>
    <url-pattern>/UpdateSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
		<display-name>InsertNews</display-name>
		<servlet-name>Insert_News</servlet-name>
		<servlet-class>servlet.InsertNews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Insert_News</servlet-name>
		<url-pattern>/InsertNEWS</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>ViewPendingReq</display-name>
		<servlet-name>View_Pending_Req</servlet-name>
		<servlet-class>servlet.ViewPendingReq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View_Pending_Req</servlet-name>
		<url-pattern>/ViewPendingReq</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>ConfirmReq</display-name>
		<servlet-name>Confirm_Req</servlet-name>
		<servlet-class>servlet.confirmReq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm_Req</servlet-name>
		<url-pattern>/ConfirmReq</url-pattern>
	</servlet-mapping>
<servlet>
		<display-name>UpdateNews</display-name>
		<servlet-name>Update_News</servlet-name>
		<servlet-class>servlet.UpdateNews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Update_News</servlet-name>
		<url-pattern>/UpdateNEWS</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>DeleteNews</display-name>
		<servlet-name>Delete_News</servlet-name>
		<servlet-class>servlet.DeleteNews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete_News</servlet-name>
		<url-pattern>/DeleteNEWS</url-pattern>
	</servlet-mapping>
  <filter>
    <filter-name>continuation</filter-name>
    <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>continuation</filter-name>
    <url-pattern>/cometd/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>cometd</servlet-name>
    <servlet-class>org.cometd.annotation.AnnotationCometdServlet</servlet-class>
    <init-param>
      <param-name>timeout</param-name>
      <param-value>20000</param-value>
    </init-param>
    <init-param>
      <param-name>interval</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>maxInterval</param-name>
      <param-value>10000</param-value>
    </init-param>
    <init-param>
      <param-name>maxLazyTimeout</param-name>
      <param-value>5000</param-value>
    </init-param>
    <init-param>
      <param-name>long-polling.multiSessionInterval</param-name>
      <param-value>2000</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>transports</param-name>
      <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
    </init-param>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.semika.cometd.ChatService</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cometd</servlet-name>
    <url-pattern>/cometd/*</url-pattern>
  </servlet-mapping>
</web-app>